name: cmake versions

on:
  workflow_dispatch:
  #pull_request:
  #push:
    # branches:
    #   - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cmake-version: ["3.17", "3.18", "3.19", "3.21", "3.23", "3.25", "3.27"]

    steps:

    - uses: actions/checkout@v3

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        cmake-version: ${{ matrix.cmake-version }}

    - name: Use cmake
      run: cmake --version

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Dependencies
      run: |
        pip install pip -U
        pip install pytest

    - name: Check versions
      run: |
        python --version
        pip --version
        cmake --version

    - name: Build and install kima
      run: |
        pip install --verbose .
