name: pip

on:
  workflow_dispatch:
  pull_request:
  push:
    # branches:
    #   - main

jobs:
  build:
    name: Build with pip
    runs-on: ${{ matrix.platform }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest]
        # python-version: ["3.8", "3.9", "3.10", "3.11"]
        python-version: ["3.10"]
        experimental: [false]
        include:
          - platform: windows-latest
            python-version: "3.11"
            experimental: true

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set min macOS version
      if: runner.os == 'macOS'
      run: |
        echo "MACOS_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV

    - name: Dependencies
      run: |
        pip install pip -U
        pip install pytest

    - name: Check versions
      run: |
        python --version
        pip --version
        cmake --version

    - name: Build and install kima
      run: |
        pip install --verbose .

    - name: Test
      run: |
        python -m pytest -s tests/
